   body {
  font-family: Arial;
  background-color: #E8DAEF;

  
}

.container{
  display: grid;
  grid-template: 100% 250px 200px 150px / 7% 42% 42% 7%;
  grid-gap: 10px 15px;
}

.item{
 
  border: 0px solid peru;
  padding: 10px;
}
.container1{
            width: 400px;
            border: 2px solid black;
            padding: 15px;
        }

.miboton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
.img1 {
  vertical-align: middle;
}